.about{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}
.about-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.about-container h2{
    color: orangered;
    border-bottom: 2px solid red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    margin-bottom: 5px;
    width: fit-content;
}
.about-intro{
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 5px auto;
    padding: 0;
    font-weight: 900;
    color: rgb(61, 19, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 500px;
}
.about-dets{
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: brown;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    max-width: 500px;
}
@media screen and (min-width: 700px) {
    /* .about-container{
        max-width: 700px;
        margin: auto;
    } */
    .about-container h2{
        font-size: 60px;
    }
    .about-main{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .about-intro{
        margin: 0;
        width: 40%;
        font-size: 20px;
    }
    .about-dets{
        margin: 0;
        width: 50%;
        max-width: 500px;
        font-size: 18px;
    }
}